// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


#admin-page {padding: 0;}

.nested-comment.media {margin-top: 50px;}

.comment-reply {display:none;}

.toggle-reply.btn.btn-primary.pull-right.btn-reply {margin: 5px 0;}

h1 {color: #42429e;}